---
import { Image } from "astro:assets";
const className = Astro.props.class;
const { url, text, description, imageurl, target = "_blank" } = Astro.props;
---

{
  url && (
    <div class="py-20 mx-auto max-w-sm md:max-w-md">
      <a
        class="block rounded-lg border border-gray-200 hover:shadow-sm focus:outline-none dark:border-neutral-700"
        href={url}
        target={target}
      >
        <div class="relative flex items-center overflow-hidden">
          <Image
            class="absolute inset-0 h-full w-32 rounded-s-lg object-cover sm:w-48"
            src={imageurl}
            alt={`Referral Image ${text}`}
            quality="low"
            format="avif"
            inferSize
          />

          <div class="ms-32 grow p-4 sm:ms-48">
            <div class="flex min-h-24 flex-col justify-center">
              <h3 class="text-sm font-semibold text-gray-800 dark:text-neutral-300">
                {text}
              </h3>
              <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
                {description}
              </p>
            </div>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Buy on Amazon</span>
          </div>
        </div>
      </a>
    </div>
  )
}
